<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add connectionString="Data Source=192.168.226.128;Initial Catalog=KHDB;Persist Security Info=True;User ID=sa;Password=940611" name="connstr"/>
  </connectionStrings>
  <appSettings>
    <add key="ModelCache" value="1"/>
    <add key="webPages:Version" value="2.0"/> 
  </appSettings>
</configuration>