@using System.Collections.Generic
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <a href="CourseController.ashx?action=addnew">新增</a>
    <table>
        <thead>
            <tr><th>课程名称</th><th>删除</th><th>修改</th><th>章节管理</th></tr>
        </thead>
        <tbody>
            @{
                IEnumerable<KH.Model.Courses> courses = (IEnumerable<KH.Model.Courses>)Model;
                foreach (var course in courses)
                {
                    <tr>
                        <td>@course.Name</td>
                        <td><a href="CourseController.ashx?action=delete&id=@course.Id">删除</a></td>
                        <td><a href="CourseController.ashx?action=edit&id=@course.Id">修改</a></td>
                        <td><a href="ChapterController.ashx?action=list&id=@course.Id">章节管理</a></td>
                    </tr>

                }
            }
        </tbody>
    </table>
</body>
</html>
