<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <a href="SegmentController.ashx?action=addnew&chapterId=@Model.chapterId">新增段落</a>
    <table>
        <thead>
            <tr><th>段落名称</th><th>删除</th><th>修改</th></tr>
        </thead>
        <tbody>
            @{
                var segments = (IEnumerable<KH.Model.Segments>)Model.segments;
                foreach (var segment in segments)
                {
                    <tr>
                        <td>@segment.Name</td>
                        <td><a href="SegmentController.ashx?action=delete&id=@segment.Id&chapterId=@Model.chapterId">删除</a></td>
                        <td><a href="SegmentController.ashx?action=edit&id=@segment.Id&chapterId=@Model.chapterId">编辑</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>
