<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <title>匡衡教育后台管理系统</title>
    <link href="Css/default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="js/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="js/themes/icon.css" />
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easyui.js"></script>

    <script type="text/javascript" src="/js/outlook2.js"> </script>
    <script type="text/javascript">
        if (top.location != location) {
            top.location.href = location.href;   //解决页面嵌套页面的问题
        }
    </script>
    <script type="text/javascript">
        var _menus = {
            "menus": [
                 {
                     "menuid": "1", "icon": "icon-sys", "menuname": "系统管理",
                     "menus": [{ "menuname": "test1", "icon": "icon-nav", "url": "1.ashx" },
                             { "menuname": "后台用户管理", "icon": "icon-add", "url": "AdminUser/AdminUserController.ashx?action=list&page=1" },
                             { "menuname": "操作日志搜索", "icon": "icon-add", "url": "AdminUser/AdminOperationLogSerach.ashx?action=page" },
                             { "menuname": "后台角色管理", "icon": "icon-add", "url": "AdminUser/RoleController.ashx?action=list" },
                             { "menuname": "后台权限管理", "icon": "icon-add", "url": "AdminUser/PowerController.ashx?action=list" },
                             { "menuname": "网站课程管理", "icon": "icon-add", "url": "CourseMgr/CourseController.ashx?action=list" },
                             { "menuname": "网站文章管理", "icon": "icon-add", "url": "NewsMgr/NewsController.ashx?action=categoryList" }

                     ]
                 }, {
                     "menuid": "8", "icon": "icon-sys", "menuname": "员工管理",
                     "menus": [{ "menuname": "员工列表", "icon": "icon-nav", "url": "demo.html" },
                             { "menuname": "视频监控", "icon": "icon-nav", "url": "demo.html" }
                     ]
                 }, {
                     "menuid": "56", "icon": "icon-sys", "menuname": "部门管理",
                     "menus": [{ "menuname": "添加部门", "icon": "icon-nav", "url": "demo.html" },
                             { "menuname": "部门列表", "icon": "icon-nav", "url": "demo.html" }
                     ]
                 }, {
                     "menuid": "28", "icon": "icon-sys", "menuname": "财务管理",
                     "menus": [{ "menuname": "收支分类", "icon": "icon-nav", "url": "demo.html" },
                             { "menuname": "报表统计", "icon": "icon-nav", "url": "demo.html" },
                             { "menuname": "添加支出", "icon": "icon-nav", "url": "demo.html" }
                     ]
                 }
            ]
        };
        //设置登录窗口
        function openPwd() {
            $('#w').window({
                title: '修改密码',
                width: 300,
                modal: true,
                shadow: true,
                closed: true,
                height: 160,
                resizable: false
            });
        }
        //关闭登录窗口
        function close() {
            $('#w').window('close');
        }



        //修改密码
        function serverLogin() {
            var txt1 = $('#txtNewPass').val();
            var txt2 = $('#txtRePass').val();
            if (txt1 == '') {
                msgShow('系统提示', '请输入密码！', 'warning');
                return false;
            }
            if (txt2 == '') {
                msgShow('系统提示', '请再一次输入密码！', 'warning');
                return false;
            }
            $.ajax({
                type: "post",
                url: "/AdminUser/AdminUserController.ashx",
                data: { action: "ChangePassword", txt1: txt1, txt2: txt2, username: "@Model.UserName" },
                success: function (data) {
                    if (data.status == "error") {
                        alert(data.msg);
                        return;
                    }
                    else if (data.status == "ok") {
                        alert("已经修改")
                        close();
                    }
                },
                error: function () {
                    alert("修改失败");
                }
            })
        }
        $(function () {

            openPwd();
            //
            $('#editpass').click(function () {
                $('#w').window('open');
            });

            $('#btnEp').click(function () {
                serverLogin();
            })
            $('#loginOut').click(function () {
                $.messager.confirm('系统提示', '您确定要退出本次登录吗?', function (r) {

                    if (r) {
                        location.href = 'Login.ashx?action=logout';
                    }
                });

            })
        });
    </script>
</head>
<body class="easyui-layout" style="overflow-y: hidden" scroll="no">
    <noscript>
        <div style=" position:absolute; z-index:100000; height:2046px;top:0px;left:0px; width:100%; background:white; text-align:center;">
            <img src="images/noscript.gif" alt='抱歉，请开启脚本支持！' />
        </div>
    </noscript>
    <div region="north" split="true" border="false" style="overflow: hidden; height: 30px;
        background: url(images/layout-browser-hd-bg.gif) #7f99be repeat-x center 50%;
        line-height: 20px;color: #fff; font-family: Verdana, 微软雅黑,黑体">
        <span style="float:right; padding-right:20px;" class="head">欢迎 @Model.UserName <a href="#" id="editpass">修改密码</a> <a href="#" id="loginOut">安全退出</a></span>
        <span style="padding-left:10px; font-size: 16px; "><img src="images/blocks.gif" width="20" height="20" align="absmiddle" /> 匡衡教育后台管理系统</span>
    </div>
    <div region="south" split="true" style="height: 30px; background: #D2E0F2; ">
        <div class="footer">By 12310720113 贾钰枫    &nbsp;&nbsp;&nbsp; <a href="http://www.jiayufeng.cn" style="color:red">个人网站jiayufeng.cn</a></div>
    </div>
    <div region="west" split="true" title="导航菜单" style="width:180px;" id="west">
        <div class="easyui-accordion" fit="true" border="false">
            <!--  导航内容 -->

        </div>

    </div>
    <div id="mainPanle" region="center" style="background: #eee; overflow-y:hidden;text-align:center">
        <div id="tabs" class="easyui-tabs" fit="true" border="false">
            <div title="欢迎使用" style="padding:20px;overflow:hidden;" id="home">

                <h1 style="font-size:xx-large;color:red">欢迎【@(Model.UserName)】登录匡衡教育后台管理系统</h1>

            </div>
        </div>
    </div>


    <!--修改密码窗口-->
    <div id="w" class="easyui-window" title="修改密码" collapsible="false" minimizable="false"
         maximizable="false" icon="icon-save" style="width: 300px; height: 150px; padding: 5px;
        background: #fafafa;">
        <div class="easyui-layout" fit="true">
            <div region="center" border="false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
                <table cellpadding=3>
                    <tr>
                        <td>新密码：</td>
                        <td><input id="txtNewPass" type="Password" class="txt01" /></td>
                    </tr>
                    <tr>
                        <td>确认密码：</td>
                        <td><input id="txtRePass" type="Password" class="txt01" /></td>
                    </tr>
                </table>
            </div>
            <div region="south" border="false" style="text-align: right; height: 30px; line-height: 30px;">
                <a id="btnEp" class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)">
                    确定
                </a> <a class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)"
                        onclick="closeLogin()">取消</a>
            </div>
        </div>
    </div>

    <div id="mm" class="easyui-menu" style="width:150px;">
        <div id="mm-tabclose">关闭</div>
        <div id="mm-tabcloseall">全部关闭</div>
        <div id="mm-tabcloseother">除此之外全部关闭</div>
        <div class="menu-sep"></div>
        <div id="mm-tabcloseright">当前页右侧全部关闭</div>
        <div id="mm-tabcloseleft">当前页左侧全部关闭</div>
        <div class="menu-sep"></div>
        <div id="mm-exit">退出</div>
    </div>


</body>
</html>